<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-document-object-heading"
        data-cy="DocumentObjectCreateUpdateHeading"
        jhiTranslate="omsApp.documentObject.home.createOrEditLabel"
      >
        Create or edit a Document Object
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="omsApp.documentObject.path"
            for="field_path"
            [ngbTooltip]="'omsApp.documentObject.help.path' | translate"
            >Path</label
          >
          <input type="text" class="form-control" name="path" id="field_path" data-cy="path" formControlName="path" />
          <div *ngIf="editForm.get('path')!.invalid && (editForm.get('path')!.dirty || editForm.get('path')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('path')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="omsApp.documentObject.name"
            for="field_name"
            [ngbTooltip]="'omsApp.documentObject.help.name' | translate"
            >Name</label
          >
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="omsApp.documentObject.pathUuid"
            for="field_pathUuid"
            [ngbTooltip]="'omsApp.documentObject.help.pathUuid' | translate"
            >Path Uuid</label
          >
          <input type="text" class="form-control" name="pathUuid" id="field_pathUuid" data-cy="pathUuid" formControlName="pathUuid" />
          <div *ngIf="editForm.get('pathUuid')!.invalid && (editForm.get('pathUuid')!.dirty || editForm.get('pathUuid')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('pathUuid')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="omsApp.documentObject.nameUuid"
            for="field_nameUuid"
            [ngbTooltip]="'omsApp.documentObject.help.nameUuid' | translate"
            >Name Uuid</label
          >
          <input type="text" class="form-control" name="nameUuid" id="field_nameUuid" data-cy="nameUuid" formControlName="nameUuid" />
          <div *ngIf="editForm.get('nameUuid')!.invalid && (editForm.get('nameUuid')!.dirty || editForm.get('nameUuid')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nameUuid')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="omsApp.documentObject.mimeType"
            for="field_mimeType"
            [ngbTooltip]="'omsApp.documentObject.help.mimeType' | translate"
            >Mime Type</label
          >
          <input type="text" class="form-control" name="mimeType" id="field_mimeType" data-cy="mimeType" formControlName="mimeType" />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="omsApp.documentObject.objectUrl"
            for="field_objectUrl"
            [ngbTooltip]="'omsApp.documentObject.help.objectUrl' | translate"
            >Object Url</label
          >
          <input type="text" class="form-control" name="objectUrl" id="field_objectUrl" data-cy="objectUrl" formControlName="objectUrl" />
          <div *ngIf="editForm.get('objectUrl')!.invalid && (editForm.get('objectUrl')!.dirty || editForm.get('objectUrl')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('objectUrl')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 1024 }"
            >
              This field cannot be longer than 1024 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="omsApp.documentObject.thumbnailUrl"
            for="field_thumbnailUrl"
            [ngbTooltip]="'omsApp.documentObject.help.thumbnailUrl' | translate"
            >Thumbnail Url</label
          >
          <input
            type="text"
            class="form-control"
            name="thumbnailUrl"
            id="field_thumbnailUrl"
            data-cy="thumbnailUrl"
            formControlName="thumbnailUrl"
          />
          <div
            *ngIf="editForm.get('thumbnailUrl')!.invalid && (editForm.get('thumbnailUrl')!.dirty || editForm.get('thumbnailUrl')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('thumbnailUrl')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 1024 }"
            >
              This field cannot be longer than 1024 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="omsApp.documentObject.byteSize"
            for="field_byteSize"
            [ngbTooltip]="'omsApp.documentObject.help.byteSize' | translate"
            >Byte Size</label
          >
          <input type="number" class="form-control" name="byteSize" id="field_byteSize" data-cy="byteSize" formControlName="byteSize" />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="omsApp.documentObject.numberOfPages"
            for="field_numberOfPages"
            [ngbTooltip]="'omsApp.documentObject.help.numberOfPages' | translate"
            >Number Of Pages</label
          >
          <input
            type="number"
            class="form-control"
            name="numberOfPages"
            id="field_numberOfPages"
            data-cy="numberOfPages"
            formControlName="numberOfPages"
          />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="omsApp.documentObject.creation"
            for="field_creation"
            [ngbTooltip]="'omsApp.documentObject.help.creation' | translate"
            >Creation</label
          >
          <div class="d-flex">
            <input
              id="field_creation"
              data-cy="creation"
              type="datetime-local"
              class="form-control"
              name="creation"
              formControlName="creation"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="omsApp.documentObject.lastContentModification"
            for="field_lastContentModification"
            [ngbTooltip]="'omsApp.documentObject.help.lastContentModification' | translate"
            >Last Content Modification</label
          >
          <div class="d-flex">
            <input
              id="field_lastContentModification"
              data-cy="lastContentModification"
              type="datetime-local"
              class="form-control"
              name="lastContentModification"
              formControlName="lastContentModification"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="omsApp.documentObject.documentPolicy"
            for="field_documentPolicy"
            [ngbTooltip]="'omsApp.documentObject.help.documentPolicy' | translate"
            >Document Policy</label
          >
          <select
            class="form-control"
            name="documentPolicy"
            formControlName="documentPolicy"
            id="field_documentPolicy"
            data-cy="documentPolicy"
          >
            <option [ngValue]="null">{{ 'omsApp.DocumentPolicy.null' | translate }}</option>
            <option *ngFor="let documentPolicy of documentPolicyValues" [value]="documentPolicy">
              {{ 'omsApp.DocumentPolicy.' + documentPolicy | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="omsApp.documentObject.owner" for="field_owner">Owner</label>
          <select class="form-control" id="field_owner" data-cy="owner" name="owner" formControlName="owner" [compareWith]="compareUser">
            <option *ngIf="!editForm.get('owner')!.value" [ngValue]="null" selected></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.id }}</option>
          </select>
        </div>
        <div *ngIf="editForm.get(['owner'])!.invalid && (editForm.get(['owner'])!.dirty || editForm.get(['owner'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['owner'])?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
