<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-document-object-heading">Upload a new document</h2>
      <div>
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
          <label class="form-control-label" for="field_name">Name of document</label>
          <input type="text" class="form-control" name="name" id="field_name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>
        <div class="form-group" style="padding-top: 20px; padding-bottom: 20px">
          <label class="form-control-label" for="field_file">Choose File</label>
          <input type="file" name="file" id="field_file" required (change)="handleFileInput($event)" />
        </div>
      </div>
      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" id="save-entity" [disabled]="!fileToUpload || isSaving" class="btn btn-primary">
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
