<div>
    <h2 id="page-heading">
        <span>Documents ({{ documentObjects ? documentObjects.length : '-'}})</span>
        <button id="jh-new-document" class="btn btn-primary float-right" style="margin-right: 4px"
            [routerLink]="['../documents-upload']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span>Upload new document ...</span>
        </button>
        <button id="jh-document-refresh" class="btn btn-primary float-right" style="margin-right: 4px"
            (click)="loadAll()">
            <fa-icon [icon]="'sync'"></fa-icon>
            <span>Refresh</span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>

    <div class="container" *ngIf="documentObjects?.length === 0">
        <div class="alert alert-warning" >
            <span>No documents found</span>
        </div>
    </div>
    <div class="row" *ngIf="documentObjects && documentObjects.length > 0">
        <div class="col-sm-2" *ngFor="let document of documentObjects">
            <div class="card" style="width: 188px; margin-top: 4px;">
                <div style="height: 240px; padding: 4px; background-color: darkgrey;">
                    <img class="card-img-top" src="{{ document.thumbnailUrl }}" alt="Thumbnail image of {{ document.name }}"
                        style="font-size: 70%" (click)="display(document)">
                </div>
                <div class="card-body" style="background-color: lightgrey;">
                    <h6 class="card-title" style="height: 32px;">{{ document.name }} [{{ document.documentPolicy }}]</h6>
                    <p class="card-text" style="font-size: 70%">
                        MIME type: {{ document.mimeType }}<br/>
                        Bytes / Pages: {{ document.byteSize }} / {{ document.numberOfPages }}<br/>
                        Created: {{ document.creation | date:'dd.MM.yy HH:mm:ss' }}<br/>
                        Modified: {{ document.lastContentModification | date:'dd.MM.yy HH:mm:ss' }}
                    </p>
                    <div class="col">
                        <div ngbDropdown>
                        <button class="btn btn-primary" ngbDropdownToggle>Action</button>
                        <div ngbDropdownMenu>
                            <button ngbDropdownItem (click)="display(document)">Display</button>
                            <button *ngIf="document.objectWriteUrl" ngbDropdownItem (click)="rename(document)">Rename</button>
                            <button *ngIf="document.objectWriteUrl" ngbDropdownItem [routerLink]="['/documents/document', document.id, 'update']">Update content</button>
                            <button *ngIf="document.objectWriteUrl" ngbDropdownItem (click)="lockDocument(document)">Lock document</button>
                            <button *ngIf="document.objectWriteUrl && document.documentPolicy == 'PRIVATE'" ngbDropdownItem (click)="publishDocument(document)">Make document public</button>
                            <button *ngIf="document.objectWriteUrl && document.documentPolicy == 'PUBLIC'" ngbDropdownItem (click)="unPublishDocument(document)">Make document private</button>
                            <button *ngIf="document.objectWriteUrl" ngbDropdownItem (click)="delete(document)">Delete</button>
                        </div>
                    </div>
            </div>
        </div>
    </div>

</div>
