<div>
    <h2 id="page-heading">
        <span jhiTranslate="omsApp.documentAccessEntry.home.title">Document Access Entries</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-document-access-entry" [routerLink]="['/document-access-entry/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="omsApp.documentAccessEntry.home.createLabel">
            Create a new Document Access Entry
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="documentAccessEntries?.length === 0">
        <span jhiTranslate="omsApp.documentAccessEntry.home.notFound">No documentAccessEntries found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="documentAccessEntries && documentAccessEntries.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="access"><span jhiTranslate="omsApp.documentAccessEntry.access">Access</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="until"><span jhiTranslate="omsApp.documentAccessEntry.until">Until</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="documentId"><span jhiTranslate="omsApp.documentAccessEntry.document">Document</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="granteeId"><span jhiTranslate="omsApp.documentAccessEntry.grantee">Grantee</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let documentAccessEntry of documentAccessEntries ;trackBy: trackId">
                    <td><a [routerLink]="['/document-access-entry', documentAccessEntry.id, 'view']">{{ documentAccessEntry.id }}</a></td>
                    <td jhiTranslate="{{ 'omsApp.AccessType.' + documentAccessEntry.access }}">{{ documentAccessEntry.access }}</td>
                    <td>{{ documentAccessEntry.until | date:'medium' }}</td>
                    <td>
                        <div *ngIf="documentAccessEntry.documentId">
                            <a [routerLink]="['/document-object', documentAccessEntry.documentId , 'view']" >{{ documentAccessEntry.documentId }}</a>
                        </div>
                    </td>
                    <td>
                        {{ documentAccessEntry.granteeId }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/document-access-entry', documentAccessEntry.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/document-access-entry', documentAccessEntry.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(documentAccessEntry)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="documentAccessEntries && documentAccessEntries.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
