<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-document-access-entry-heading" jhiTranslate="omsApp.documentAccessEntry.home.createOrEditLabel">Create or edit a Document Access Entry</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="omsApp.documentAccessEntry.access" for="field_access">Access</label>
                    <select class="form-control" name="access" formControlName="access" id="field_access">
                        <option value="READ_CONTENT">{{ 'omsApp.AccessType.READ_CONTENT' | translate }}</option>
                        <option value="READ_METADATA">{{ 'omsApp.AccessType.READ_METADATA' | translate }}</option>
                        <option value="CHANGE_CONTENT">{{ 'omsApp.AccessType.CHANGE_CONTENT' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('access')!.invalid && (editForm.get('access')!.dirty || editForm.get('access')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('access')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="omsApp.documentAccessEntry.until" for="field_until">Until</label>
                    <div class="d-flex">
                        <input id="field_until" type="datetime-local" class="form-control" name="until" formControlName="until" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="omsApp.documentAccessEntry.document" for="field_document">Document</label>
                    <select class="form-control" id="field_document" name="document" formControlName="documentId">
                        <option *ngIf="!editForm.get('documentId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="documentObjectOption.id" *ngFor="let documentObjectOption of documentobjects; trackBy: trackById">{{ documentObjectOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('documentId')!.invalid && (editForm.get('documentId')!.dirty || editForm.get('documentId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('documentId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="omsApp.documentAccessEntry.grantee" for="field_grantee">Grantee</label>
                    <select class="form-control" id="field_grantee" name="grantee" formControlName="granteeId">
                        <option *ngIf="!editForm.get('granteeId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('granteeId')!.invalid && (editForm.get('granteeId')!.dirty || editForm.get('granteeId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('granteeId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
