<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="documentAccessEntry">
            <h2><span jhiTranslate="omsApp.documentAccessEntry.detail.title">Document Access Entry</span> {{documentAccessEntry.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="omsApp.documentAccessEntry.access">Access</span></dt>
                <dd>
                    <span jhiTranslate="{{'omsApp.AccessType.' + documentAccessEntry.access}}">{{documentAccessEntry.access}}</span>
                </dd>
                <dt><span jhiTranslate="omsApp.documentAccessEntry.until">Until</span></dt>
                <dd>
                    <span>{{documentAccessEntry.until}}</span>
                </dd>
                <dt><span jhiTranslate="omsApp.documentAccessEntry.document">Document</span></dt>
                <dd>
                    <div *ngIf="documentAccessEntry.documentId">
                        <a [routerLink]="['/document-object', documentAccessEntry.documentId, 'view']">{{documentAccessEntry.documentId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="omsApp.documentAccessEntry.grantee">Grantee</span></dt>
                <dd>
                    {{documentAccessEntry.granteeId}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/document-access-entry', documentAccessEntry.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
